.card-container {
  background-color: var(--cardbg);
  width: 300px;
  padding: 30px;
  border-radius: 15px;
}
.card-container .card-inner {
  text-align: left;
  color: var(--white);
}
.card-container img {
  width: 100%;
}
.card-inner h2 {
  font-size: 22px;
}
.card-inner p {
  color: var(--softblue);
  font-style: 18px;
  line-height: 22px;
}
.card-inner .details {
  display: flex;
  justify-content: space-between;
  height: 20px;
  border-bottom: 1px solid var(--line);
  padding-bottom: 15px;
}
.card-inner .details .details-left {
  display: flex;
  color: var(--cyan);
  font-weight: 600;
}
.card-inner .details .details-left span {
  margin-left: 5px;
}
.card-inner .details .details-left img {
  width: 12px;
}
.card-inner .details .details-right {
  display: flex;
  color: var(--softblue);
  font-size: 14px;
}
.card-inner .details .details-right span {
  margin-left: 5px;
}
.card-inner .details .details-right img {
  width: 18px;
}
