.card-container {
  background-color: var(--cardbg);
  width: 300px;
  padding: 30px;
  border-radius: 15px;
}
.card-container .card-inner {
  text-align: left;
  color: var(--white);
}
.card-container img {
  width: 100%;
  border-radius: 10px;
}
.card-inner h2 {
  font-size: 22px;
}
.card-inner p {
  color: var(--softblue);
  font-style: 18px;
  line-height: 22px;
}
.image-container {
  position: relative;
  cursor: pointer;
}
.image-container .image-overlay {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
}
.image-container .view-icon {
  width: 48px;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}
.image-container:hover .image-overlay {
  display: block;
  cursor: pointer;
  border-radius: 10px;
  background: var(--cyanalpha);
}
.card-inner h2 {
  cursor: pointer;
}
.card-inner h2:hover {
  color: var(--cyan);
}
.card-inner .details {
  display: flex;
  justify-content: space-between;
  height: 20px;
  border-bottom: 1px solid var(--line);
  padding-bottom: 15px;
}
.card-inner .details .details-left {
  display: flex;
  color: var(--cyan);
  font-weight: 600;
}
.card-inner .details .details-left span {
  margin-left: 5px;
}
.card-inner .details .details-left img {
  width: 12px;
}
.card-inner .details .details-right {
  display: flex;
  color: var(--softblue);
  font-size: 14px;
}
.card-inner .details .details-right span {
  margin-left: 5px;
}
.card-inner .details .details-right img {
  width: 18px;
}
.card-inner .author {
  display: flex;
  margin: 10px 0 0;
  align-items: center;
  font-size: 16px;
}
.card-inner .author img {
  width: 30px;
  height: 30px;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-right: 10px;
}
.card-inner .author span {
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}
.card-inner .author span:hover {
  color: var(--cyan);
}
